@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');

$grey1: #fafafa;
$grey2: #f5f5f5;
$grey3: #eeeeee;
$grey4: #e0e0e0;
$grey5: #bdbdbd;
$grey6: #9e9e9e;
$grey7: #757575;
$grey8: #616161;
$grey9: #424242;
$grey10: #212121;
$accent: #007ACD;

html{
  scroll-behavior: smooth;
}
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
a:any-link{
  color: white;
}
ul{
  list-style-type: none;
}

h1{
  font-size: 2.5em;
  font-weight: 600;
}

h2{
  font-weight: 400;
}
.test{
  background-color: rgba($color: #686868, $alpha: 0.9);
}

a.anchor{
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#menu{
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: rgba($color: #151515, $alpha: 0.7);
  justify-content: space-between;
  ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    li{
      width: 25%;
      height: 100%;
      font-size: 19px;
      a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey2;
        transition: all 0.2s ease;
      }
      a:hover{
        background-color: rgba($color: #4E4E4E, $alpha: 0.9);
      }
    }
  }
}
#first{
    height: 100vh;
    background-color: #151515;
    padding-left: 50%;
    padding-top: 14%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#laptop{
    img{
        height: 100%;
        opacity: 0;
        transition: opacity 3s;
    }
    position: absolute;
    bottom: 0px;
    left: -11%;
    height: 100%;
    overflow: hidden;
}

#holder{
    z-index: 10;
    text-align: end;
    padding: 7em;
    h1{
        position: relative;
        color: white;
        font-size: 3em;
        letter-spacing: .25em;
    }
    h2{
        letter-spacing: .2em;
        font-weight: lighter;
        color: whitesmoke;
    }
}

@mixin glitchCopy { 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#holder:hover{
  .glitch {
	&::before{
		@include glitchCopy;
		left: 2px;
    // text-shadow: -2px 0 #ff00c1;
    text-shadow: -2px 0 #000;
		clip: rect(44px, 450px, 56px, 0);
		animation: glitch-anim 5s infinite linear alternate-reverse;
	  }
	&::after {
		@include glitchCopy;
		left: -2px;
    // text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    text-shadow: -2px 0 #fff, 2px 2px #000;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	  }
  }
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

@mixin title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0px;
}

@mixin set{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey1;
  color: $grey9;
  padding: 0px 5%;
  flex-direction: column;
  box-sizing: border-box;
  #skill-title{
    @include title();
  }
  #skill-set{
    @include set();
    img{
      width: 12%;
      margin: 0.5em 2%;
      filter: grayscale(100%);
      transition: 0.2s all ease-out;
    }
  }
}

.skills:hover{
  #skill-set img{
    filter: grayscale(0%);
  }
}

.projects{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eceff1;
  flex-direction: column;
  padding: 0px 5%;
  #projects-title{
    @include title();
    color: $grey10;
  }
  #projects-set{
    @include set();
    width: 100%;
    .project-img{
      width: 30%;
      margin: 0px 1% 2% 1%;
      position: relative;
      overflow: hidden;
      border: $grey6 solid 1px;
      img{
        width: 100%;
        display: block;
        transition: all .3s ease-in-out;
        filter: grayscale(100%);
      }
      .project-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        background-color: rgba($color: $grey10, $alpha: 0.2);
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        transition: all .3s ease-in-out;
        p{
          font-size: 19px;
          color: $grey1;
          opacity: 0;
          transition: all .3s ease-in-out;
          padding: 5%;
          text-align: center;
        }
        a{
          display: block;
          position: absolute;
          font-weight: 600;
          font-size: 1.1em;
          padding: 2.5%;
          bottom: 5%;
          background-color: rgba($color: $grey1, $alpha: 0.7);
          transition: all .3s ease-in-out;
          border: rgba($color: $accent, $alpha: 0.9) solid 0.25em;
          color: $grey10;
        }
      }
    }
  }
}

.project-img:hover{
  .project-text{
    background-color: rgba($color: $grey10, $alpha: 0.7) !important;
    a{
      background-color: $accent !important;
      color: $grey1 !important;
    }
    p{
      opacity: 1 !important;
    }
  }
  img{
    transform: scale(1.05);
    filter: blur(1000px) !important;
    -webkit-filter: blur(1000px) !important;
  }
}

#pa:hover{
  .project-img img{
    filter: grayscale(0%) !important;
  }
}

.about{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include set();
  background-color: #eceff1;
  padding: 2% 10%;
  justify-content: space-around;
  align-items: flex-start;
  color: $grey9;
  #about-pic{
    img{
      border: $grey9 solid 7px;
      margin-bottom: 7%;
    }
  }
  #about-text{
    #about-title{
      @include title();
      h1{
        font-size: 1.8em;
      };
    }
    font-size: 1.5em;
    width: 65%;
    text-align: center;
  }
}

.contact{
  background-color: $grey9;
  color: $grey2;
  @include set();
  flex-direction: column;
  #contact-title{
    @include title();
    margin-top: 3em;
  }
  #contact-set{
    @include set();
    width: 100%;
    padding: 1% 7%;
    justify-content: space-around;
    #contact-left {
      @include set();
      width: 40%;
      justify-content: space-around;
      #contact-list{
        margin-top: 2em;
        width: 100%;
        ul{
          width: 100%;
          @include set();
          li{
            display: inline-block;
            font-size: 2em;
            a{
              padding: 0.4em;
              transition: all 0.2s ease;
            }
          }
        }
      }
    }
    #contact-right{
      @include set();
      flex-direction: column;
      width: 40%;
      #form{
        margin-top: 2em;
        @include set();
        width: 100%;
        flex-direction: column;
        #nameid{
          display: block;
          background-color: $grey9;
          width: 100%;
          height: 3em;
          padding: 0.5em;
          color: $grey1;
          border: $grey6 solid;
          border-width: 2px 2px 0px 2px;
          &::placeholder{
            color: $grey6;
            opacity: 1;
          }
          &:focus{
            outline: none;
            border-color: $accent;
            border-width: 2px 2px 2px 2px;
            & + #emailid{
              border-width: 0px 2px 0px 2px;
            }
          }
        }
        #emailid{
          display: block;
          background-color: $grey9;
          width: 100%;
          height: 3em;
          padding: 0.5em;
          color: $grey1;
          border: $grey6 solid;
          border-width: 2px 2px 0px 2px;
          &::placeholder{
            color: $grey6;
            opacity: 1;
          }
          &:focus{
            outline: none;
            border-color: $accent;
            border-width: 2px 2px 2px 2px;
            & + #messageid{
              border-width: 0px 2px 0px 2px;
            }
          }
        }
        #messageid{
          display: block;
          background-color: $grey9;
          width: 100%;
          height: 10em;
          resize: none;
          padding: 0.5em;
          color: $grey1;
          border: $grey6 solid;
          border-width: 2px 2px 0px 2px;
          &::placeholder{
            color: $grey6;
            opacity: 1;
          }
          &:focus{
            outline: none;
            border-color: $accent;
            border-width: 2px 2px 2px 2px;
            & + #submitid{
              border-width: 0px 2px 2px 2px;
            }
          }
        }
        #submitid{
          display: block;
          background-color: $grey9;
          width: 100%;
          height: 3em;
          color: $grey1;
          border: $grey6 solid;
          border-width: 2px 2px 2px 2px;
          &:hover{
            background-color: $accent;
            border-color: $accent;
          }
        }
      }
    }
  }
}

#contact-list a:hover{
  color: $accent;
}
.footer{
  @include set();
  height: 8vh;
  color: #a9a9a9;
  background-color: $grey9;
  font-size: 6px;
}