@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a:-webkit-any-link {
  color: white;
}

a:-moz-any-link {
  color: white;
}

a:any-link {
  color: white;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

.test {
  background-color: rgba(104, 104, 104, 0.9);
}

.div {
  width: 100%;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: rgba(21, 21, 21, 0.7);
}

.menu ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu ul li {
  width: 25%;
  height: 100%;
  font-size: 19px;
}

.menu ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu ul li a:hover {
  background-color: rgba(78, 78, 78, 0.9);
}

.first {
  height: 100vh;
  background-color: #151515;
  padding-left: 50%;
  padding-top: 14%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#laptop {
  position: absolute;
  bottom: 0px;
  left: -11%;
  height: 100%;
  overflow: hidden;
}

#laptop img {
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

#holder {
  z-index: 10;
  text-align: end;
  padding: 7em;
}

#holder h1 {
  position: relative;
  color: white;
  font-size: 3em;
  letter-spacing: .25em;
}

#holder h2 {
  letter-spacing: .2em;
  font-weight: lighter;
  color: whitesmoke;
}

#holder:hover .glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #000;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

#holder:hover .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #fff, 2px 2px #000;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(52px, 9999px, 64px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  5% {
    clip: rect(57px, 9999px, 98px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  10% {
    clip: rect(83px, 9999px, 24px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  15% {
    clip: rect(2px, 9999px, 30px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  20% {
    clip: rect(49px, 9999px, 75px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  25% {
    clip: rect(14px, 9999px, 46px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  30% {
    clip: rect(50px, 9999px, 1px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  35% {
    clip: rect(65px, 9999px, 34px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  40% {
    clip: rect(51px, 9999px, 12px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  45% {
    clip: rect(92px, 9999px, 22px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  50% {
    clip: rect(6px, 9999px, 9px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  55% {
    clip: rect(90px, 9999px, 30px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  60% {
    clip: rect(54px, 9999px, 51px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  65% {
    clip: rect(74px, 9999px, 2px, 0);
    -webkit-transform: skew(0.66deg);
            transform: skew(0.66deg);
  }
  70% {
    clip: rect(16px, 9999px, 55px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  75% {
    clip: rect(15px, 9999px, 48px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  80% {
    clip: rect(25px, 9999px, 39px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  85% {
    clip: rect(99px, 9999px, 41px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  90% {
    clip: rect(67px, 9999px, 99px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  95% {
    clip: rect(59px, 9999px, 43px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  100% {
    clip: rect(65px, 9999px, 82px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(52px, 9999px, 64px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  5% {
    clip: rect(57px, 9999px, 98px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  10% {
    clip: rect(83px, 9999px, 24px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  15% {
    clip: rect(2px, 9999px, 30px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  20% {
    clip: rect(49px, 9999px, 75px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  25% {
    clip: rect(14px, 9999px, 46px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  30% {
    clip: rect(50px, 9999px, 1px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  35% {
    clip: rect(65px, 9999px, 34px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  40% {
    clip: rect(51px, 9999px, 12px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  45% {
    clip: rect(92px, 9999px, 22px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  50% {
    clip: rect(6px, 9999px, 9px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  55% {
    clip: rect(90px, 9999px, 30px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  60% {
    clip: rect(54px, 9999px, 51px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  65% {
    clip: rect(74px, 9999px, 2px, 0);
    -webkit-transform: skew(0.66deg);
            transform: skew(0.66deg);
  }
  70% {
    clip: rect(16px, 9999px, 55px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  75% {
    clip: rect(15px, 9999px, 48px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  80% {
    clip: rect(25px, 9999px, 39px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  85% {
    clip: rect(99px, 9999px, 41px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  90% {
    clip: rect(67px, 9999px, 99px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  95% {
    clip: rect(59px, 9999px, 43px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  100% {
    clip: rect(65px, 9999px, 82px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(90px, 9999px, 13px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  5% {
    clip: rect(13px, 9999px, 34px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  10% {
    clip: rect(7px, 9999px, 100px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  15% {
    clip: rect(42px, 9999px, 75px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  20% {
    clip: rect(33px, 9999px, 62px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  25% {
    clip: rect(50px, 9999px, 96px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  30% {
    clip: rect(100px, 9999px, 46px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  35% {
    clip: rect(75px, 9999px, 70px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  40% {
    clip: rect(41px, 9999px, 100px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  45% {
    clip: rect(26px, 9999px, 26px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  50% {
    clip: rect(41px, 9999px, 1px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  55% {
    clip: rect(12px, 9999px, 43px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  60% {
    clip: rect(74px, 9999px, 9px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  65% {
    clip: rect(13px, 9999px, 50px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  70% {
    clip: rect(52px, 9999px, 18px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  75% {
    clip: rect(39px, 9999px, 85px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  80% {
    clip: rect(93px, 9999px, 4px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  85% {
    clip: rect(88px, 9999px, 46px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  90% {
    clip: rect(66px, 9999px, 26px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  95% {
    clip: rect(29px, 9999px, 91px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  100% {
    clip: rect(88px, 9999px, 78px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(90px, 9999px, 13px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  5% {
    clip: rect(13px, 9999px, 34px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  10% {
    clip: rect(7px, 9999px, 100px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  15% {
    clip: rect(42px, 9999px, 75px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  20% {
    clip: rect(33px, 9999px, 62px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  25% {
    clip: rect(50px, 9999px, 96px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  30% {
    clip: rect(100px, 9999px, 46px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  35% {
    clip: rect(75px, 9999px, 70px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  40% {
    clip: rect(41px, 9999px, 100px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  45% {
    clip: rect(26px, 9999px, 26px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  50% {
    clip: rect(41px, 9999px, 1px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  55% {
    clip: rect(12px, 9999px, 43px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  60% {
    clip: rect(74px, 9999px, 9px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  65% {
    clip: rect(13px, 9999px, 50px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  70% {
    clip: rect(52px, 9999px, 18px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  75% {
    clip: rect(39px, 9999px, 85px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  80% {
    clip: rect(93px, 9999px, 4px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  85% {
    clip: rect(88px, 9999px, 46px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  90% {
    clip: rect(66px, 9999px, 26px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  95% {
    clip: rect(29px, 9999px, 91px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  100% {
    clip: rect(88px, 9999px, 78px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
}

.skills {
  background-color: #424242;
  color: #e0e0e0;
  padding: 0px 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skills #skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0px;
}

.skills #skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills #skill-set img {
  width: 12%;
  margin: 0.5em 2%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#skill-set img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.projects {
  background-color: #616161;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 5%;
}

.projects #projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0px;
}

.projects #projects-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.projects #projects-set .project-img {
  width: 27%;
  margin: 0px 1% 2% 1%;
  position: relative;
  overflow: hidden;
}

.projects #projects-set .project-img img {
  width: 100%;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projects #projects-set .project-img .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(33, 33, 33, 0.3);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.projects #projects-set .project-img .project-text p {
  font-size: 19px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 5%;
  text-align: center;
}

.projects #projects-set .project-img .project-text a {
  display: block;
  position: absolute;
  font-weight: 600;
  padding: 3%;
  bottom: 5%;
  background-color: rgba(0, 122, 205, 0.9);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: rgba(0, 122, 205, 0) solid;
}

.project-img:hover .project-text {
  background-color: rgba(33, 33, 33, 0.7) !important;
}

.project-img:hover .project-text a {
  background-color: #212121 !important;
  border: #007acd solid 3px !important;
}

.project-img:hover .project-text p {
  opacity: 1 !important;
}

.project-img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(0%) !important;
          filter: grayscale(0%) !important;
}

.about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #757575;
  padding: 0px 3%;
}

.about #about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0px;
  color: #f5f5f5;
}

.about #about-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about #about-set #about-pic img {
  border: #424242 solid 7px;
  margin-bottom: 7%;
}

.about #about-set #about-text {
  font-size: 1.5em;
  width: 65%;
  text-align: center;
}

.footer {
  height: 600vh;
  color: #a9a9a9;
  background-color: #494949;
  font-size: 6px;
}
/*# sourceMappingURL=style.css.map */