@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a:-webkit-any-link {
  color: white;
}

a:-moz-any-link {
  color: white;
}

a:any-link {
  color: white;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.2em;
}

.div {
  width: 100%;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -101px;
  visibility: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: rgba(21, 21, 21, 0.7);
}

.menu ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu ul li {
  width: 25%;
  height: 100%;
  font-size: 19px;
}

.menu ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul li a:hover {
  background-color: rgba(78, 78, 78, 0.9);
}

.first {
  height: 100vh;
  background-color: #151515;
  padding-left: 50%;
  padding-top: 14%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#laptop {
  position: absolute;
  bottom: 0px;
  left: -11%;
  height: 100%;
}

#laptop img {
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

#holder {
  z-index: 10;
  text-align: end;
}

#holder h1 {
  position: relative;
  color: white;
  font-size: 3em;
  letter-spacing: .25em;
}

#holder h2 {
  letter-spacing: .2em;
  font-weight: lighter;
  color: whitesmoke;
}

.glitch:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #000;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #fff, 2px 2px #000;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(94px, 9999px, 15px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  5% {
    clip: rect(19px, 9999px, 66px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  10% {
    clip: rect(96px, 9999px, 80px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  15% {
    clip: rect(47px, 9999px, 29px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  20% {
    clip: rect(49px, 9999px, 89px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  25% {
    clip: rect(53px, 9999px, 14px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  30% {
    clip: rect(39px, 9999px, 42px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  35% {
    clip: rect(7px, 9999px, 57px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  40% {
    clip: rect(1px, 9999px, 81px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  45% {
    clip: rect(48px, 9999px, 33px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  50% {
    clip: rect(61px, 9999px, 13px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  55% {
    clip: rect(9px, 9999px, 1px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  60% {
    clip: rect(69px, 9999px, 71px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  65% {
    clip: rect(31px, 9999px, 47px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  70% {
    clip: rect(57px, 9999px, 51px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  75% {
    clip: rect(84px, 9999px, 89px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  80% {
    clip: rect(57px, 9999px, 66px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  85% {
    clip: rect(53px, 9999px, 24px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  90% {
    clip: rect(60px, 9999px, 73px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  95% {
    clip: rect(43px, 9999px, 44px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  100% {
    clip: rect(18px, 9999px, 81px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(94px, 9999px, 15px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  5% {
    clip: rect(19px, 9999px, 66px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  10% {
    clip: rect(96px, 9999px, 80px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  15% {
    clip: rect(47px, 9999px, 29px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  20% {
    clip: rect(49px, 9999px, 89px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  25% {
    clip: rect(53px, 9999px, 14px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  30% {
    clip: rect(39px, 9999px, 42px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  35% {
    clip: rect(7px, 9999px, 57px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  40% {
    clip: rect(1px, 9999px, 81px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  45% {
    clip: rect(48px, 9999px, 33px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  50% {
    clip: rect(61px, 9999px, 13px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  55% {
    clip: rect(9px, 9999px, 1px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  60% {
    clip: rect(69px, 9999px, 71px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  65% {
    clip: rect(31px, 9999px, 47px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  70% {
    clip: rect(57px, 9999px, 51px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  75% {
    clip: rect(84px, 9999px, 89px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  80% {
    clip: rect(57px, 9999px, 66px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  85% {
    clip: rect(53px, 9999px, 24px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  90% {
    clip: rect(60px, 9999px, 73px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  95% {
    clip: rect(43px, 9999px, 44px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  100% {
    clip: rect(18px, 9999px, 81px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(6px, 9999px, 20px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  5% {
    clip: rect(40px, 9999px, 49px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  10% {
    clip: rect(60px, 9999px, 9px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  15% {
    clip: rect(82px, 9999px, 95px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  20% {
    clip: rect(72px, 9999px, 70px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  25% {
    clip: rect(91px, 9999px, 96px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  30% {
    clip: rect(24px, 9999px, 80px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  35% {
    clip: rect(68px, 9999px, 94px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  40% {
    clip: rect(24px, 9999px, 31px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  45% {
    clip: rect(39px, 9999px, 48px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  50% {
    clip: rect(73px, 9999px, 21px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  55% {
    clip: rect(87px, 9999px, 13px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  60% {
    clip: rect(49px, 9999px, 74px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  65% {
    clip: rect(26px, 9999px, 28px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  70% {
    clip: rect(87px, 9999px, 43px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  75% {
    clip: rect(70px, 9999px, 9px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  80% {
    clip: rect(20px, 9999px, 91px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  85% {
    clip: rect(87px, 9999px, 40px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  90% {
    clip: rect(1px, 9999px, 73px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  95% {
    clip: rect(62px, 9999px, 39px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  100% {
    clip: rect(91px, 9999px, 67px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(6px, 9999px, 20px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  5% {
    clip: rect(40px, 9999px, 49px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  10% {
    clip: rect(60px, 9999px, 9px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  15% {
    clip: rect(82px, 9999px, 95px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  20% {
    clip: rect(72px, 9999px, 70px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  25% {
    clip: rect(91px, 9999px, 96px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  30% {
    clip: rect(24px, 9999px, 80px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  35% {
    clip: rect(68px, 9999px, 94px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  40% {
    clip: rect(24px, 9999px, 31px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  45% {
    clip: rect(39px, 9999px, 48px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  50% {
    clip: rect(73px, 9999px, 21px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  55% {
    clip: rect(87px, 9999px, 13px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  60% {
    clip: rect(49px, 9999px, 74px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  65% {
    clip: rect(26px, 9999px, 28px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  70% {
    clip: rect(87px, 9999px, 43px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  75% {
    clip: rect(70px, 9999px, 9px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  80% {
    clip: rect(20px, 9999px, 91px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  85% {
    clip: rect(87px, 9999px, 40px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  90% {
    clip: rect(1px, 9999px, 73px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  95% {
    clip: rect(62px, 9999px, 39px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  100% {
    clip: rect(91px, 9999px, 67px, 0);
    -webkit-transform: skew(0.02deg);
            transform: skew(0.02deg);
  }
}

.second {
  background-color: #DCDCDC;
  color: #151515;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.second #skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.second #skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second #skill-set img {
  width: 12%;
  margin: 10px 3%;
}

.third {
  background-color: #626262;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 0px 20px;
}

.third #projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.third #projects-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.third #projects-set .project-img {
  width: 27%;
  margin: 10px 20px 30px 20px;
  position: relative;
  overflow: hidden;
}

.third #projects-set .project-img img {
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.third #projects-set .project-img .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(21, 21, 21, 0.3);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.third #projects-set .project-img .project-text p {
  font-size: 19px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 5%;
  text-align: center;
}

.third #projects-set .project-img .project-text a {
  font-weight: bold;
  padding: 3%;
  background-color: rgba(0, 122, 205, 0.9);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: rgba(0, 122, 205, 0) solid;
}

.project-img:hover .project-text {
  background-color: rgba(21, 21, 21, 0.9) !important;
}

.project-img:hover .project-text a {
  background-color: #2F2F2F !important;
  border: #007acd solid 3px !important;
}

.project-img:hover .project-text p {
  opacity: 1 !important;
}

.project-img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.test {
  background-color: rgba(104, 104, 104, 0.9);
}

.footer {
  height: 600vh;
  color: #a9a9a9;
  background-color: #494949;
  font-size: 6px;
}
/*# sourceMappingURL=style.css.map */