@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a:-webkit-any-link {
  color: white;
}

a:-moz-any-link {
  color: white;
}

a:any-link {
  color: white;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.2em;
}

.test {
  background-color: rgba(104, 104, 104, 0.9);
}

.div {
  width: 100%;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -101px;
  visibility: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: rgba(21, 21, 21, 0.7);
}

.menu ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu ul li {
  width: 25%;
  height: 100%;
  font-size: 19px;
}

.menu ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f5;
}

.menu ul li a:hover {
  background-color: rgba(78, 78, 78, 0.9);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.first {
  height: 100vh;
  background-color: #151515;
  padding-left: 50%;
  padding-top: 14%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#laptop {
  position: absolute;
  bottom: 0px;
  left: -11%;
  height: 100%;
  overflow: hidden;
}

#laptop img {
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

#holder {
  z-index: 10;
  text-align: end;
  padding: 7em;
}

#holder h1 {
  position: relative;
  color: white;
  font-size: 3em;
  letter-spacing: .25em;
}

#holder h2 {
  letter-spacing: .2em;
  font-weight: lighter;
  color: whitesmoke;
}

#holder:hover .glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #000;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

#holder:hover .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #fff, 2px 2px #000;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(82px, 9999px, 91px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  5% {
    clip: rect(78px, 9999px, 23px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  10% {
    clip: rect(67px, 9999px, 88px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  15% {
    clip: rect(57px, 9999px, 62px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  20% {
    clip: rect(75px, 9999px, 5px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  25% {
    clip: rect(98px, 9999px, 37px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  30% {
    clip: rect(15px, 9999px, 23px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  35% {
    clip: rect(3px, 9999px, 4px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  40% {
    clip: rect(2px, 9999px, 47px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  45% {
    clip: rect(47px, 9999px, 54px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  50% {
    clip: rect(27px, 9999px, 35px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  55% {
    clip: rect(19px, 9999px, 89px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  60% {
    clip: rect(86px, 9999px, 22px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  65% {
    clip: rect(38px, 9999px, 41px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  70% {
    clip: rect(46px, 9999px, 1px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  75% {
    clip: rect(21px, 9999px, 92px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  80% {
    clip: rect(98px, 9999px, 97px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  85% {
    clip: rect(6px, 9999px, 6px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  90% {
    clip: rect(27px, 9999px, 1px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  95% {
    clip: rect(13px, 9999px, 16px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  100% {
    clip: rect(21px, 9999px, 95px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(82px, 9999px, 91px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  5% {
    clip: rect(78px, 9999px, 23px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  10% {
    clip: rect(67px, 9999px, 88px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  15% {
    clip: rect(57px, 9999px, 62px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  20% {
    clip: rect(75px, 9999px, 5px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  25% {
    clip: rect(98px, 9999px, 37px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  30% {
    clip: rect(15px, 9999px, 23px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  35% {
    clip: rect(3px, 9999px, 4px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  40% {
    clip: rect(2px, 9999px, 47px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  45% {
    clip: rect(47px, 9999px, 54px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  50% {
    clip: rect(27px, 9999px, 35px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  55% {
    clip: rect(19px, 9999px, 89px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  60% {
    clip: rect(86px, 9999px, 22px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  65% {
    clip: rect(38px, 9999px, 41px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  70% {
    clip: rect(46px, 9999px, 1px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  75% {
    clip: rect(21px, 9999px, 92px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  80% {
    clip: rect(98px, 9999px, 97px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  85% {
    clip: rect(6px, 9999px, 6px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  90% {
    clip: rect(27px, 9999px, 1px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  95% {
    clip: rect(13px, 9999px, 16px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  100% {
    clip: rect(21px, 9999px, 95px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(15px, 9999px, 53px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  5% {
    clip: rect(64px, 9999px, 69px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  10% {
    clip: rect(100px, 9999px, 45px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  15% {
    clip: rect(52px, 9999px, 21px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  20% {
    clip: rect(25px, 9999px, 52px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  25% {
    clip: rect(17px, 9999px, 73px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  30% {
    clip: rect(83px, 9999px, 63px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  35% {
    clip: rect(75px, 9999px, 73px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  40% {
    clip: rect(13px, 9999px, 23px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  45% {
    clip: rect(50px, 9999px, 66px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  50% {
    clip: rect(84px, 9999px, 77px, 0);
    -webkit-transform: skew(0.97deg);
            transform: skew(0.97deg);
  }
  55% {
    clip: rect(46px, 9999px, 69px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  60% {
    clip: rect(35px, 9999px, 17px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  65% {
    clip: rect(38px, 9999px, 93px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  70% {
    clip: rect(25px, 9999px, 8px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  75% {
    clip: rect(35px, 9999px, 9px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  80% {
    clip: rect(75px, 9999px, 50px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  85% {
    clip: rect(31px, 9999px, 55px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  90% {
    clip: rect(95px, 9999px, 57px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  95% {
    clip: rect(38px, 9999px, 100px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  100% {
    clip: rect(40px, 9999px, 43px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(15px, 9999px, 53px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  5% {
    clip: rect(64px, 9999px, 69px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  10% {
    clip: rect(100px, 9999px, 45px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  15% {
    clip: rect(52px, 9999px, 21px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
  20% {
    clip: rect(25px, 9999px, 52px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  25% {
    clip: rect(17px, 9999px, 73px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  30% {
    clip: rect(83px, 9999px, 63px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  35% {
    clip: rect(75px, 9999px, 73px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  40% {
    clip: rect(13px, 9999px, 23px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  45% {
    clip: rect(50px, 9999px, 66px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  50% {
    clip: rect(84px, 9999px, 77px, 0);
    -webkit-transform: skew(0.97deg);
            transform: skew(0.97deg);
  }
  55% {
    clip: rect(46px, 9999px, 69px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  60% {
    clip: rect(35px, 9999px, 17px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  65% {
    clip: rect(38px, 9999px, 93px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  70% {
    clip: rect(25px, 9999px, 8px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  75% {
    clip: rect(35px, 9999px, 9px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  80% {
    clip: rect(75px, 9999px, 50px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  85% {
    clip: rect(31px, 9999px, 55px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  90% {
    clip: rect(95px, 9999px, 57px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  95% {
    clip: rect(38px, 9999px, 100px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  100% {
    clip: rect(40px, 9999px, 43px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
}

.second {
  background-color: #424242;
  color: #e0e0e0;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.second #skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.second #skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second #skill-set img {
  width: 12%;
  margin: 10px 3%;
}

.third {
  background-color: #616161;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 0px 20px;
}

.third #projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  color: #eeeeee;
}

.third #projects-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.third #projects-set .project-img {
  width: 27%;
  margin: 10px 20px 30px 20px;
  position: relative;
  overflow: hidden;
}

.third #projects-set .project-img img {
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.third #projects-set .project-img .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(21, 21, 21, 0.3);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.third #projects-set .project-img .project-text p {
  font-size: 19px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 5%;
  text-align: center;
}

.third #projects-set .project-img .project-text a {
  font-weight: bold;
  padding: 3%;
  background-color: rgba(0, 122, 205, 0.9);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: rgba(0, 122, 205, 0) solid;
}

.project-img:hover .project-text {
  background-color: rgba(33, 33, 33, 0.9) !important;
}

.project-img:hover .project-text a {
  background-color: #212121 !important;
  border: #007acd solid 3px !important;
}

.project-img:hover .project-text p {
  opacity: 1 !important;
}

.project-img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.fourth {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #757575;
  padding: 20px;
}

.fourth #about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  color: #f5f5f5;
}

.fourth #about-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5em;
}

.footer {
  height: 600vh;
  color: #a9a9a9;
  background-color: #494949;
  font-size: 6px;
}
/*# sourceMappingURL=style.css.map */