@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a:-webkit-any-link {
  color: white;
}

a:-moz-any-link {
  color: white;
}

a:any-link {
  color: white;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

.test {
  background-color: rgba(104, 104, 104, 0.9);
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: rgba(21, 21, 21, 0.7);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

#menu ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu ul li {
  width: 25%;
  height: 100%;
  font-size: 19px;
}

#menu ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#menu ul li a:hover {
  background-color: rgba(78, 78, 78, 0.9);
}

#first {
  height: 100vh;
  background-image: url(../img/back-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#holder {
  z-index: 10;
  text-align: end;
  padding: 7em;
}

#holder h1 {
  position: relative;
  color: white;
  font-size: 3em;
  letter-spacing: .25em;
}

#holder h2 {
  letter-spacing: .2em;
  font-weight: lighter;
  color: whitesmoke;
}

#holder span {
  width: 1em;
  height: 1em;
  text-align: center;
  margin-top: 5em;
  border-radius: 50%;
  color: #007ACD;
  font-size: 3em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: none;
}

#holder span:hover {
  color: white;
}

#holder:hover .glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #000;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

#holder:hover .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #fff, 2px 2px #000;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(73px, 9999px, 53px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  5% {
    clip: rect(23px, 9999px, 31px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  10% {
    clip: rect(54px, 9999px, 28px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  15% {
    clip: rect(56px, 9999px, 55px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  20% {
    clip: rect(31px, 9999px, 78px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  25% {
    clip: rect(4px, 9999px, 80px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  30% {
    clip: rect(36px, 9999px, 9px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  35% {
    clip: rect(70px, 9999px, 8px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  40% {
    clip: rect(46px, 9999px, 28px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(10px, 9999px, 85px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  50% {
    clip: rect(31px, 9999px, 100px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  55% {
    clip: rect(23px, 9999px, 37px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  60% {
    clip: rect(89px, 9999px, 43px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  65% {
    clip: rect(68px, 9999px, 97px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  70% {
    clip: rect(75px, 9999px, 96px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  75% {
    clip: rect(58px, 9999px, 90px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  80% {
    clip: rect(58px, 9999px, 80px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  85% {
    clip: rect(39px, 9999px, 84px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  90% {
    clip: rect(28px, 9999px, 45px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  95% {
    clip: rect(93px, 9999px, 43px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  100% {
    clip: rect(4px, 9999px, 82px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(73px, 9999px, 53px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  5% {
    clip: rect(23px, 9999px, 31px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  10% {
    clip: rect(54px, 9999px, 28px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  15% {
    clip: rect(56px, 9999px, 55px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  20% {
    clip: rect(31px, 9999px, 78px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  25% {
    clip: rect(4px, 9999px, 80px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  30% {
    clip: rect(36px, 9999px, 9px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  35% {
    clip: rect(70px, 9999px, 8px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  40% {
    clip: rect(46px, 9999px, 28px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(10px, 9999px, 85px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  50% {
    clip: rect(31px, 9999px, 100px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  55% {
    clip: rect(23px, 9999px, 37px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  60% {
    clip: rect(89px, 9999px, 43px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  65% {
    clip: rect(68px, 9999px, 97px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  70% {
    clip: rect(75px, 9999px, 96px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  75% {
    clip: rect(58px, 9999px, 90px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  80% {
    clip: rect(58px, 9999px, 80px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  85% {
    clip: rect(39px, 9999px, 84px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  90% {
    clip: rect(28px, 9999px, 45px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  95% {
    clip: rect(93px, 9999px, 43px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  100% {
    clip: rect(4px, 9999px, 82px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(2px, 9999px, 24px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  5% {
    clip: rect(24px, 9999px, 79px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  10% {
    clip: rect(54px, 9999px, 56px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  15% {
    clip: rect(72px, 9999px, 86px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  20% {
    clip: rect(56px, 9999px, 8px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  25% {
    clip: rect(52px, 9999px, 46px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  30% {
    clip: rect(34px, 9999px, 41px, 0);
    -webkit-transform: skew(0.22deg);
            transform: skew(0.22deg);
  }
  35% {
    clip: rect(35px, 9999px, 26px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  40% {
    clip: rect(83px, 9999px, 32px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  45% {
    clip: rect(17px, 9999px, 77px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  50% {
    clip: rect(40px, 9999px, 71px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  55% {
    clip: rect(86px, 9999px, 57px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  60% {
    clip: rect(93px, 9999px, 2px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  65% {
    clip: rect(16px, 9999px, 38px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  70% {
    clip: rect(15px, 9999px, 25px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  75% {
    clip: rect(91px, 9999px, 74px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  80% {
    clip: rect(34px, 9999px, 89px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  85% {
    clip: rect(76px, 9999px, 31px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  90% {
    clip: rect(57px, 9999px, 17px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  95% {
    clip: rect(17px, 9999px, 46px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  100% {
    clip: rect(49px, 9999px, 24px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(2px, 9999px, 24px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  5% {
    clip: rect(24px, 9999px, 79px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  10% {
    clip: rect(54px, 9999px, 56px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  15% {
    clip: rect(72px, 9999px, 86px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  20% {
    clip: rect(56px, 9999px, 8px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  25% {
    clip: rect(52px, 9999px, 46px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  30% {
    clip: rect(34px, 9999px, 41px, 0);
    -webkit-transform: skew(0.22deg);
            transform: skew(0.22deg);
  }
  35% {
    clip: rect(35px, 9999px, 26px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  40% {
    clip: rect(83px, 9999px, 32px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  45% {
    clip: rect(17px, 9999px, 77px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  50% {
    clip: rect(40px, 9999px, 71px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  55% {
    clip: rect(86px, 9999px, 57px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  60% {
    clip: rect(93px, 9999px, 2px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  65% {
    clip: rect(16px, 9999px, 38px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  70% {
    clip: rect(15px, 9999px, 25px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  75% {
    clip: rect(91px, 9999px, 74px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  80% {
    clip: rect(34px, 9999px, 89px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  85% {
    clip: rect(76px, 9999px, 31px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  90% {
    clip: rect(57px, 9999px, 17px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  95% {
    clip: rect(17px, 9999px, 46px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  100% {
    clip: rect(49px, 9999px, 24px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
}

.skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  color: #424242;
  padding: 0px 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skills #skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0px;
}

.skills #skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills #skill-set img {
  width: 12%;
  margin: 0.5em 2%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.skills:hover #skill-set img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eceff1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 5%;
}

.projects #projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0px;
  color: #212121;
}

.projects #projects-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.projects #projects-set .project-img {
  width: 30%;
  margin: 0px 1% 2% 1%;
  position: relative;
  overflow: hidden;
  border: #9e9e9e solid 1px;
}

.projects #projects-set .project-img img {
  width: 100%;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projects #projects-set .project-img .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(33, 33, 33, 0.2);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 5%;
}

.projects #projects-set .project-img .project-text p {
  font-size: 1em;
  color: #fafafa;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-align: center;
  margin: 0.3em;
}

.projects #projects-set .project-img .project-text p:first-of-type {
  font-weight: 600;
}

.projects #projects-set .project-img .project-text a {
  display: block;
  position: absolute;
  font-weight: 600;
  font-size: 1.1em;
  padding: 2.5%;
  bottom: 5%;
  background-color: rgba(250, 250, 250, 0.7);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: rgba(0, 122, 205, 0.9) solid 0.25em;
  color: #212121;
}

.project-img:hover .project-text {
  background-color: rgba(33, 33, 33, 0.7) !important;
}

.project-img:hover .project-text a {
  background-color: #007ACD !important;
  color: #fafafa !important;
}

.project-img:hover .project-text p {
  opacity: 1 !important;
}

.project-img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  filter: blur(1000px) !important;
  -webkit-filter: blur(1000px) !important;
}

#pa:hover .project-img img {
  -webkit-filter: grayscale(0%) !important;
          filter: grayscale(0%) !important;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eceff1;
  padding: 0% 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #424242;
}

.about #about-pic {
  width: 30%;
  margin: 1em 0em;
}

.about #about-pic img {
  border: #424242 solid 7px;
  width: 100%;
}

.about #about-text {
  font-size: 1.5em;
  width: 65%;
  text-align: center;
}

.about #about-text #about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0px;
  margin-top: 0px;
}

.about #about-text #about-title h1 {
  font-size: 1.8em;
}

.contact {
  background-color: #424242;
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0px 7%;
}

.contact #contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0px;
  text-align: center;
}

.contact #contact-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 1% 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact #contact-set #contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact #contact-set #contact-left #contact-list {
  margin-top: 2em;
  width: 100%;
}

.contact #contact-set #contact-left #contact-list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact #contact-set #contact-left #contact-list ul li {
  display: inline-block;
  font-size: 2em;
}

.contact #contact-set #contact-left #contact-list ul li a {
  padding: 0.4em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact #contact-set #contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact #contact-set #contact-right #form {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact #contact-set #contact-right #form #nameid {
  display: block;
  position: relative;
  background-color: #424242;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  color: #fafafa;
  border: #9e9e9e solid;
  border-width: 2px 2px 0px 2px;
}

.contact #contact-set #contact-right #form #nameid::-webkit-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #nameid:-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #nameid::-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #nameid::placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #nameid:focus {
  outline: none;
}

.contact #contact-set #contact-right #form #emailid {
  display: block;
  background-color: #424242;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  color: #fafafa;
  border: #9e9e9e solid;
  border-width: 2px 2px 0px 2px;
}

.contact #contact-set #contact-right #form #emailid::-webkit-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #emailid:-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #emailid::-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #emailid::placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #emailid:focus {
  outline: none;
}

.contact #contact-set #contact-right #form #messageid {
  display: block;
  background-color: #424242;
  width: 100%;
  height: 10em;
  resize: none;
  padding: 0.5em;
  color: #fafafa;
  border: #9e9e9e solid;
  border-width: 2px 2px 0px 2px;
}

.contact #contact-set #contact-right #form #messageid::-webkit-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #messageid:-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #messageid::-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #messageid::placeholder {
  color: #9e9e9e;
  opacity: 0.8;
}

.contact #contact-set #contact-right #form #messageid:focus {
  outline: none;
}

.contact #contact-set #contact-right #form #submitid {
  display: block;
  background-color: #424242;
  width: 100%;
  height: 3em;
  color: #fafafa;
  border: #9e9e9e solid;
  border-width: 2px 2px 2px 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact #contact-set #contact-right #form #submitid:hover {
  background-color: #007ACD;
  border-color: #007ACD;
}

#contact-list a:hover {
  color: #007ACD;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 8vh;
  color: #a9a9a9;
  background-color: #424242;
  font-size: 6px;
}

@media screen and (max-width: 1280px) {
  #holder {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 7em 1em;
    background-color: rgba(21, 21, 21, 0.7);
  }
  #holder span {
    display: inline-block;
  }
  .skills #skill-set img {
    width: 19%;
  }
  .projects #projects-set .project-img {
    width: 48%;
  }
}

@media screen and (max-width: 960px) {
  #menu ul {
    width: 75%;
  }
  .skills #skill-set img {
    width: 24%;
  }
  .projects #projects-set .project-img {
    width: 98%;
  }
  .about #about-pic {
    width: 50%;
  }
  .about #about-text {
    width: 100%;
    margin-bottom: 1em;
  }
  .contact #contact-set {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact #contact-set #contact-left {
    width: 100%;
    margin-bottom: 3em;
  }
  .contact #contact-set #contact-right {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  #menu ul {
    width: 100%;
  }
  .skills #skill-set img {
    width: 40%;
  }
  .about #about-pic {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */